<!DOCTYPE html>
<html>
<head>
  <title>ReactiveChat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='navbar' class='navbar navbar-default'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/'>Reactive Chat</a>
      </div>
      <% if user_signed_in? %>
        <ul class='nav navbar-nav navbar-right'>
          <li>
            <a href='#'><%= current_user.email %></a>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% end -%>
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <div class='container'>
      <div class="alert">
        <button class="close" data-dismiss="alert">&times;</button>
        <%= msg %>
      </div>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
